.particulars{
    .lazy-img{position: relative;
        width:100%;
        height:4rem;
        img{width:100%;
        height:100%;}
        a{position: absolute;font-size: 0.3rem;left: 0;color: #000;}
    }
    .item-info{
        width:100%;
        height:1.8rem;
        border-bottom: 1px solid #e9e9e9;
        .name{
            line-height: 0.4rem;
            font-size: 0.2rem;
            padding-left: 0.2rem;
        }
        .parc{
            line-height: 0.4rem;
            padding-left: 0.2rem;
        }
        .price{
            line-height: 0.4rem;
            padding-left: 0.2rem;
            display: flex;
            justify-content: space-between;
            padding-right:0.2rem; 
            border-bottom: 1px solid #e9e9e9;
            .num{
                font-size: 0.3rem;
                color: #f00;
            }
        }
        .specification{
            padding-left:0.2rem; 
            height:0.3rem;
            line-height: 0.6rem;
            font-size: 0.2rem;
        }
    }
    .shop{
        width:100%;
        height:0.85rem;
        dl{
            display: flex;
            align-items: center;
            height:100%;
            div{
                font-size: 0.4rem;
                width:20%;
                position: relative;
                span{
                    font-size: 0.18rem;
                    position: absolute;
                    display: inline-block;
                    width:0.2rem;
                    height:0.2rem;
                    background: #f00;
                    text-align: center;
                    border-radius: 50%;
                    color: #fff;
                }
            }
            dd{
                width:40%;
            }
            dt{
                width:40%;
                background: #f00;
                height:100%;
                font-size: 0.22rem;
                line-height: 0.8rem;
                text-align: center;
                color: #ffffff;
            }
        }
        
    }
}